@reference "tailwindcss";

.animated-background {
  @apply relative min-h-screen w-full overflow-auto;
  --animate-duration: 1s;
  /* position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden; */
}
